body{
	font-size:small;
}
#container{
	width:80%;
	margin-left:10%;
	
}
header{
	background-color:#DCDCDC;
	height:80px;
}
li span{
	font-size:4em;
}
header li{
	display:inline;
	margin:20px;
	
	
}
header a{
	text-decoration:none;
	font-size:2em;
	color:black;
	
}
article{
	width:40%;
	border:1px solid green;
	margin:5px;
	margin-left:0px;
	float:left;
	position:relative;
	height:300px;
	
}
a:hover{
	background-color:#696969;
	color: 	white;

}

header ul{
	//background-color:#DCDCDC;
	//margin-left:40%;
}



.book-name{
	font-size:1.5em;
	margin-left:4px;
	margin-top:5px;
	background-color:#DCDCDC;
	width:40%;
	overflow:auto;
	
}

article a{
	text-decoration:none;
	font-size:1.2em;
}
article li{
	font-size:1.2em;
	list-style:none;
	
	
}
article nav{
	margin:2px;
	
}
aside{
	width:18%;
	float:right;
	border:1px solid green;
	margin-top:5px;
	padding:0px;
	
	
}
.links{
	padding:1px;
	margin-top:2px;
	font-size:1.5em;
	margin-bottom:2px;
	word-spacing:6px;
}
blockquote{
	padding:2px;
	margin-left:2px;
	margin-right:2px;
	margin-top:2px;
}
footer{
	height:60px;
	background-color:#DCDCDC;
	clear:both;
	text-align:center;
	
}