body{
	font-size:small;
}
li span{
	font-size:4em;
}
header li{
	display:inline;
	margin:20px;
	
	
}
header a{
	text-decoration:none;
	font-size:2em;
	color:black;
	
}
a:link{
	color:black;
}
a:visited{
	
}
a:focus{
	
}
a:hover{
	background-color:#696969;
	color: 	white;

}

header ul{
	background-color:#DCDCDC;
	//margin-left:40%;
}
footer{
	text-align:center;
	margin-bottom:0px;
	
}
#main{
	height:400px;
}
#container{
	width:1000px;
	margin-left:150px;;
	//border:1px solid green;
}
.book-name{
	font-size:1.5em;
	margin-left:4px;
	margin-top:5px;
	
}
article{
	width:80%;
	border:1px solid green;
	margin:5px;
	margin-left:0px;
	margin-right:200px;
}
article a{
	text-decoration:none;
	font-size:1.2em;
}
article li{
	font-size:1.2em;
	list-style:none;
	
	
}
article nav{
	margin:2px;
	
}
section{
	width:19%;
	float:right;
	border:1px solid green;
	
}